/* New fonts */
@font-face {
  font-family: Gabriela;
  src: url(Fonts/Gabriela/Gabriela-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Wellington;
  src: url(Fonts/tt_wellingtons/TT\ Wellingtons\ Trial\ Medium.otf)
    format("opentype");
}
@font-face {
  font-family: Wellington Demi-bold;
  src: url(Fonts/tt_wellingtons/TT\ Wellingtons\ Trial\ DemiBold\ Italic.otf)
    format("opentype");
}
@font-face {
  font-family: Wellington Regular;
  src: url(Fonts/tt_wellingtons/TT\ Wellingtons\ Trial\ Regular.otf)
    format("opentype");
}
@font-face {
  font-family: Wellington bold;
  src: url(Fonts/tt_wellingtons/TT\ Wellingtons\ Trial\ Bold.otf)
    format("opentype");
}

body {
  margin: 0;
}

/* Navigation bar */

.header {
  background-color: #33926a;
  width: 100%;
  height: 62px;
  font-family: Wellington Regular;
  font-size: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header ul {
  list-style-type: none;
}

.menu {
  padding-top: 23px;
}

nav ul a {
  color: #000000;
  text-decoration: none;
}

/* Project presentation */

.project_presentation {
  font-family: Gabriela;
  font-size: 52px;
  text-decoration: underline;
  margin-left: 90px;
  margin-top: 50px;
}

.project_date {
  font-family: Gabriela;
  font-size: 32px;
  margin-left: 90px;
  margin-top: 50px;
}

.image_UI {
  margin-left: 90px;
  margin-top: 60px;
  width: 1046px;
  height: 750px;
}

.image_WFE {
  margin-left: 205px;
  margin-top: 50px;
  height: 600px;
  width: 1000px;
}

/* project description */

#description {
  background-color: #f1f1f1;
  width: 100%;
  height: 770px;
}

.consigne {
  font-family: Wellington bold;
  font-size: 32px;
  margin-left: 90px;
  margin-right: 90px;
  padding-top: 50px;
}

.definition {
  font-family: Wellington Regular;
  font-size: 28px;
  margin-left: 90px;
  margin-top: 30px;
}

.project_description {
  font-family: Wellington Regular;
  font-size: 28px;
  margin-left: 90px;
  margin-top: 35px;
  margin-right: 90px;
}

.explanations {
  font-family: Wellington Regular;
  font-size: 28px;
  margin-left: 90px;
  margin-top: 35px;
  margin-right: 90px;
}

.question {
  text-decoration-line: underline;
  font-weight: bolder;
}

.question_WFE {
  text-decoration-line: underline;
  font-weight: bolder;
  margin-top: 35px;
}

.project_goal {
  padding-top: 50px;
}

.project_goal_WFE {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Contact section */

.title_section {
  margin: 0;
  font-family: Gabriela;
  font-size: 52px;
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-decoration: underline;
  font-weight: lighter;
}

.contact_section {
  width: 100%;
  height: 535px;
  background-color: #d9d9d9;
}

.contact_infos li {
  font-family: Wellington Regular;
  font-size: 24px;
  margin-left: 90px;
}

.contact_infos li:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-bottom: 20px;
}
.contact_infos li:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-bottom: 20px;
}
.contact_infos li:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-bottom: 20px;
}

.input_name {
  width: 350px;
  height: 30px;
  border-radius: 12px;
  margin-left: 80px;
}
.input_mail {
  width: 350px;
  height: 30px;
  border-radius: 12px;
  margin-left: 88px;
}
.input_message {
  width: 500px;
  height: 70px;
  border-radius: 12px;
  margin-left: 35px;
}

.contact_infos button {
  font-family: Wellington Regular;
  font-size: 24px;
  background-color: #43c08c;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 24px;
  margin-left: 50px;
  transition-duration: 0.2s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_infos button:hover {
  width: 230px;
  cursor: pointer;
}

.contact_infos button:active {
  box-shadow: inset 6px 6px rgba(0, 0, 0, 0.25);
}

.contact_infos img {
  margin-left: 15px;
}

.personal_infos {
  font-family: Wellington Regular;
  font-size: 20px;
  margin-left: 90px;
  margin-top: 60px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.phone_number {
  margin-top: 60px;
  margin-left: 100px;
}

.mail {
  margin-top: 60px;
}

.git {
  margin-left: 500px;
}

.linkedin {
  margin-left: 20px;
}
